/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */

    --clr-background: 204 40% 26%;
    
    
    --clr-container: 31 11% 59%;
    --clr-on-container: 0 0% 100%;

    --clr-button-hover: 31 17% 69%;
    --clr-button-active: 31 8% 51%;

    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;


    
    /* font-sizes */
    --fs: 20px;

    /* font-weight */
    --fw-regular: 400;
    --fw-bold: 700;
    
    /* font-families */
    --ff-noto-sans-tc: 'Noto Sans TC', sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-noto-sans-tc);
    font-size: var(--fs);
    font-weight: var(--fw-regular);


    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-background) );
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* icon */
.icon-line {
    margin-left: 4px;
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon/Line.svg);
}
.icon-pen {
    margin-right: 4px;
    width: 30px;
    height: 30px;
    background-image: url(../assets/icon/PencilSquare.svg);
}
.icon-chevronUp {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon/chevron-up.svg);
}
.icon-chevronDown {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon/chevron-down.png);
}
.icon-checkLg {
    width: 30px;
    height: 30px;
    background-image: url(../assets/icon/CheckLg.svg);
}

/* ---------------------------------------------------- */

.bg-material {
    background-image: url(../assets/background.jpg)
}

.slide-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.hello-content {
    padding: 16px;
    padding-top: calc(35vh - 150px);
    height: 100%;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.content {
    width: 100%;
    padding: 32px;
    margin: 0px 0;
}

.start-panel {
    width: 100%;
    justify-self: end;
    background-color: hsl(0 0% 64% / 30%);
    padding: 16px;
}

.start-button {
    width: 100%;
    height: 48px;
    

    color: hsl( var(--clr-on-container) );
    font-size: 24px;
    font-weight: bold;
    
    border-radius: 4px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
}


.button {
    user-select: none;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    text-decoration: none;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background: hsla(31, 11%, 59%, 1);
}
.button:hover {
    background-color: hsl(var(--clr-button-hover));
}
.button:active, .button:focus {
    background-color: hsl(var(--clr-button-active));
}


.join-button {
    width: 288px;
    height: 48px;
    
    background-color: hsl(var(--clr-container));
    border-radius: 4px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);


    color: hsl( var(--clr-on-container) );
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;

    margin: 0 auto;
}

.nav-prev-next {
    position: absolute;
    bottom: 16px;
    left: 16px;

    display: none;
}

.prev, .next {
    width: 36px;
    height: 36px;
    background-color: hsl(var(--clr-container));
}

.prev {
    border-radius: 4px 0 0 4px!important;
    margin-right: 1px;
}

.next {
    border-radius: 0 4px 4px 0!important;
}

.answer-field {
    margin-top: 16px;
    margin-left: 24px;
}

.second-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text {
    color: #D9CABB;
    font-size: 24px;
    width: 80%;
    background-color: unset;
    border: none;
    border-bottom: #D9CABB 1px solid;
}
.input-text::placeholder {
    columns: #DBCCBD;
    opacity: 40%;
}

.ok-button {
    color: white;
    width: 80px;
    height: 36px;
    border-radius: 4px;
}